##  10월 4주차 Python Study Quiz      퀴즈 작성자 : 백승재

- 함수호출, 데이터 로딩

In [1]:
import pandas as pd
df1 = pd.read_csv('./korean-idol.csv')

In [2]:
cp_df=df1.copy()

In [3]:
df = pd.read_csv('./korean-idol.csv')
df2 = pd.read_csv('./korean-idol.csv')

In [4]:
cp_df.drop([3,5],inplace=True)
cp_df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### Quiz1  다음 DataFramed cp_df,df을 컬럼 기준으로 합치고 결측값을 평균값으로 채워준 것으로 적절한 것은?

In [5]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [6]:
cp_df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [49]:
#1 열로 합치고 인덱스 정리하기
df_concat = pd.concat([cp_df,df]).reset_index(drop=True)
df_concat

,성함,연봉,가족수,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수
0,지민,3000.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,지드래곤,3500.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,강다니엘,3200.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,뷔,3050.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,화사,4300.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,정국,2900.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,민현,3400.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,소연,4500.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,진,4200.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,하성운,4300.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,태연,3700.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,차은우,3850.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,백호,3900.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,JR,4100.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,슈가,4150.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0
16,NaN,NaN,NaN,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947.0
17,NaN,NaN,NaN,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0
18,NaN,NaN,NaN,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501.0
19,NaN,NaN,NaN,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0
20,NaN,NaN,NaN,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335.0
21,NaN,NaN,NaN,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0
22,NaN,NaN,NaN,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615.0
23,NaN,NaN,NaN,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0
24,NaN,NaN,NaN,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489.0
25,NaN,NaN,NaN,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0
26,NaN,NaN,NaN,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0
27,NaN,NaN,NaN,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0
28,NaN,NaN,NaN,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0
29,NaN,NaN,NaN,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0

In [8]:
#2 행기준 합쳐줌
df1 =pd.concat([cp_df,df],axis=1)
df1

,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수
0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260.0,지민,방탄소년단,빅히트,남자,1995-10-13,173.6,A,10523260
1,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947.0,지드래곤,빅뱅,YG,남자,1988-08-18,177.0,A,9916947
2,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745.0,강다니엘,NaN,커넥트,남자,1996-12-10,180.0,A,8273745
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,뷔,방탄소년단,빅히트,남자,1995-12-30,178.0,AB,8073501
4,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928.0,화사,마마무,RBW,여자,1995-07-23,162.1,A,7650928
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,정국,방탄소년단,빅히트,남자,1997-09-01,178.0,A,5208335
6,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792.0,민현,뉴이스트,플레디스,남자,1995-08-09,182.3,O,4989792
7,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615.0,소연,아이들,큐브,여자,1998-08-26,NaN,B,4668615
8,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308.0,진,방탄소년단,빅히트,남자,1992-12-04,179.2,O,4570308
9,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489.0,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.1,A,4036489
10,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661.0,태연,소녀시대,SM,여자,1989-03-09,NaN,A,3918661
11,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027.0,차은우,아스트로,판타지오,남자,1997-03-30,183.0,B,3506027
12,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654.0,백호,뉴이스트,플레디스,남자,1995-07-21,175.0,AB,3301654
13,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137.0,JR,뉴이스트,플레디스,남자,1995-06-08,176.0,O,3274137
14,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442.0,슈가,방탄소년단,빅히트,남자,1993-03-09,174.0,O,2925442

In [50]:
#3. 정답, 컬럼 기준 합쳐주고+평균값으로 결측값 처리
df1 =pd.concat([cp_df,df],axis=1)
df1.fillna(df1.mean())

,성함,연봉,가족수,이름,그룹,소속사,성별,생년월일,키,혈액형,브랜드평판지수
0,지민,3000,3,지민,방탄소년단,빅히트,남자,1995-10-13,173.600000,A,10523260
1,지드래곤,3500,3,지드래곤,빅뱅,YG,남자,1988-08-18,177.000000,A,9916947
2,강다니엘,3200,4,강다니엘,NaN,커넥트,남자,1996-12-10,180.000000,A,8273745
3,뷔,3050,4,뷔,방탄소년단,빅히트,남자,1995-12-30,178.000000,AB,8073501
4,화사,4300,3,화사,마마무,RBW,여자,1995-07-23,162.100000,A,7650928
5,정국,2900,5,정국,방탄소년단,빅히트,남자,1997-09-01,178.000000,A,5208335
6,민현,3400,6,민현,뉴이스트,플레디스,남자,1995-08-09,182.300000,O,4989792
7,소연,4500,5,소연,아이들,큐브,여자,1998-08-26,175.792308,B,4668615
8,진,4200,4,진,방탄소년단,빅히트,남자,1992-12-04,179.200000,O,4570308
9,하성운,4300,4,하성운,핫샷,스타크루이엔티,남자,1994-03-22,167.100000,A,4036489
10,태연,3700,3,태연,소녀시대,SM,여자,1989-03-09,175.792308,A,3918661
11,차은우,3850,5,차은우,아스트로,판타지오,남자,1997-03-30,183.000000,B,3506027
12,백호,3900,4,백호,뉴이스트,플레디스,남자,1995-07-21,175.000000,AB,3301654
13,JR,4100,3,JR,뉴이스트,플레디스,남자,1995-06-08,176.000000,O,3274137
14,슈가,4150,3,슈가,방탄소년단,빅히트,남자,1993-03-09,174.000000,O,2925442

In [10]:
#4 row기준 합쳐주기, row기준으로 합쳐줄 때는 컬럼의 현 순서가 유지되도록 sort =False를 해준다.
# 현재 이름부터 시작해서~ 브랜드평판지수 순으로 열이 위치하고 있는 상태 유지
df_concat1 = pd.concat([df,cp_df],sort=False)
df_concat1

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

### Quiz2 데이터 프레임 df,cp_df_right을 이름(성함)순으로 공통된 컬럼만 merge한 것은?
- df는 ‘이름’ 컬럼에 cp_df_right은 ‘성함’ 컬럼에 그룹 멤버의 구성원의 이름이 요소로 구성되어 있다.

In [11]:
df = pd.read_csv('./korean-idol.csv')
df2 = pd.read_csv('./korean-idol-2.csv')
df2

      이름    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [51]:
df1

      성함    연봉  가족수    이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  3000    3    지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤  3500    3  지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘  3200    4  강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  3050    4     뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사  4300    3    화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  2900    5    정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현  3400    6    민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연  4500    5    소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  4200    4     진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운  4300    4   하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연  3700    3    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우  3850    5   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호  3900    4    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR  4100    3    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  4150    3    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [12]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')
cp_df = df2.copy()
cp_df.columns = ['성함', '연봉', '가족수']

In [13]:
cp_df

      성함    연봉  가족수
0     지민  3000    3
1   지드래곤  3500    3
2   강다니엘  3200    4
3      뷔  3050    4
4     화사  4300    3
5     정국  2900    5
6     민현  3400    6
7     소연  4500    5
8      진  4200    4
9    하성운  4300    4
10    태연  3700    3
11   차은우  3850    5
12    백호  3900    4
13    JR  4100    3
14    슈가  4150    3

In [14]:
# df['키'] = df['키'].fillna(df['키'].mean())

In [15]:
# 2: 정답  두 데이터 프레임 키값 이름 다름, 공통된 컬럼만 Join(inner)
pd.merge(df,cp_df,left_on="이름",right_on="성함", how = "inner")

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    성함    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [16]:
# 3 :두 데이터 프레임 키값 이름 다름, 두 데이터 프레임 컬럼 모두 Join(outer)
pd.merge(df,cp_df,left_on="이름",right_on="성함", how = "outer")

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수    성함    연봉  가족수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260    지민  3000    3
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947  지드래곤  3500    3
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745  강다니엘  3200    4
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501     뷔  3050    4
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928    화사  4300    3
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335    정국  2900    5
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792    민현  3400    6
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615    소연  4500    5
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308     진  4200    4
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489   하성운  4300    4
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661    태연  3700    3
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027   차은우  3850    5
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654    백호  3900    4
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137    JR  4100    3
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442    슈가  4150    3

In [17]:
# 1: 키값 이름이 다르므로 조인 안됨
pd.merge(df,cp_df,on="이름", how = "inner")

KeyError: '이름'

In [18]:
#4. 키값 이름이 다르므로 조인 안됨
pd.merge(df,cp_df,on="성함", how = "right")

KeyError: '성함'

### Quiz3 데이터 프레임 중 결측값이 포함된  ‘키’컬럼의 데이터 타입을 int32로 변경하는 절차로 적절한 것은?

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [22]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [10]:
df

      이름     그룹      소속사  성별        생년월일       키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.60   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.00   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.00   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.00  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.10   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.00   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.30   O   4989792
7     소연    아이들       큐브  여자  1998-08-26  180.75   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.20   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.10   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09  175.05   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.00   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.00  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.00   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.00   O   2925442

In [8]:
df['키'] = df['키'].fillna(df['키'].interpolate(method="linear"))
df['키']

0     173.60
1     177.00
2     180.00
3     178.00
4     162.10
5     178.00
6     182.30
7     180.75
8     179.20
9     167.10
10    175.05
11    183.00
12    175.00
13    176.00
14    174.00
Name: 키, dtype: float64

In [23]:
# 정답 3: 데이터 타입 확인 -> 결측값 처리(보간법 선형수치 적용)->  데이터 타입 변경 후 변경 열 재정의   
df['키'] = df['키'].fillna(df['키'].interpolate(method="linear"))
# astype은 inplace옵션이 없으므로 컬럼을 변수에 넣어 재정의 해줘야 한다.
df = df.astype({"키" : "int"})
# df = df[키].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        15 non-null     int32
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: int32(1), int64(1), object(6)
memory usage: 1.0+ KB

### Quiz4 데이터 프레임에 ‘성별’을 남자는 1, 여자는 0으로 변경하려고 하는 과정 중에 사용되는 코드로 적절하지 않는 것은?

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [26]:
# 정답 2: loc를 이용하여 성별 컬럼에 각각 인데싱을 한후 해당 컬럼을 지정한 후에 값을 부여해야함
df.loc[df.성별=='여자'] =0
df.loc[df.성별=='남자'] =1
df
# df.loc[df.성별=='여자','성별'] =0
# df.loc[df.성별=='남자','성별'] =1
# df

   이름 그룹 소속사 성별 생년월일    키 혈액형  브랜드평판지수
0   1  1   1  1    1  1.0   1        1
1   1  1   1  1    1  1.0   1        1
2   1  1   1  1    1  1.0   1        1
3   1  1   1  1    1  1.0   1        1
4   0  0   0  0    0  0.0   0        0
5   1  1   1  1    1  1.0   1        1
6   1  1   1  1    1  1.0   1        1
7   0  0   0  0    0  0.0   0        0
8   1  1   1  1    1  1.0   1        1
9   1  1   1  1    1  1.0   1        1
10  0  0   0  0    0  0.0   0        0
11  1  1   1  1    1  1.0   1        1
12  1  1   1  1    1  1.0   1        1
13  1  1   1  1    1  1.0   1        1
14  1  1   1  1    1  1.0   1        1

In [27]:
# 1: map 함수를 이용하여 
df = pd.read_csv('http://bit.ly/ds-korean-idol')
my_map = {'남자':1, '여자':0}
df['성별'] = df['성별'].map(my_map)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [28]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [29]:
# 3: 성별에 대한 람다 함수를 정의
df = pd.read_csv('http://bit.ly/ds-korean-idol')
f = lambda x:1 if x=='남자' else 0
df['성별']=df['성별'].apply(f)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트   1  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG   1  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트   1  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트   1  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW   0  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트   1  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스   1  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브   0  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트   1  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티   1  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM   0  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오   1  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스   1  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스   1  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트   1  1993-03-09  174.0   O   2925442

In [30]:
# 4: 성별에 대한 함수를 apply
df = pd.read_csv('http://bit.ly/ds-korean-idol')
def male_or_female(x):
    if x == '남자':
        return 1
    elif x == '여자':
        return 0
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df['성별_NEW'] = df['성별'].apply(male_or_female)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_NEW
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260       1
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947       1
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745       1
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501       1
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928       0
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335       1
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792       1
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615       0
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308       1
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489       1
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661       0
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027       1
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654       1
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137       1
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442       1

In [31]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수  성별_NEW
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260       1
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947       1
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745       1
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501       1
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928       0

### Quiz5. 데이터 프레임에서 컬럼 데이터 타입 별로 분류할 때 문자열로 분류한 것으로 적절하지 않은 것은?

In [38]:
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

In [40]:
# 정답 1 : select_dtypes 사용하기
df = df.select_dtypes(include="object")

In [42]:
df

      이름     그룹      소속사  성별        생년월일 혈액형
0     지민  방탄소년단      빅히트  남자  1995-10-13   A
1   지드래곤     빅뱅       YG  남자  1988-08-18   A
2   강다니엘    NaN      커넥트  남자  1996-12-10   A
3      뷔  방탄소년단      빅히트  남자  1995-12-30  AB
4     화사    마마무      RBW  여자  1995-07-23   A
5     정국  방탄소년단      빅히트  남자  1997-09-01   A
6     민현   뉴이스트     플레디스  남자  1995-08-09   O
7     소연    아이들       큐브  여자  1998-08-26   B
8      진  방탄소년단      빅히트  남자  1992-12-04   O
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22   A
10    태연   소녀시대       SM  여자  1989-03-09   A
11   차은우   아스트로     판타지오  남자  1997-03-30   B
12    백호   뉴이스트     플레디스  남자  1995-07-21  AB
13    JR   뉴이스트     플레디스  남자  1995-06-08   O
14    슈가  방탄소년단      빅히트  남자  1993-03-09   O

In [46]:
# 2: drop 사용하기
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df.drop(columns= ['키'],axis=1)

      이름     그룹      소속사  성별        생년월일 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09   O   4989792
7     소연    아이들       큐브  여자  1998-08-26   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09   O   2925442

In [47]:
# 정답 3 iloc 인덱싱하기
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df= df.iloc[:,:6]
df
# df= df.iloc[:,:7]
# df

      이름     그룹      소속사  성별        생년월일      키
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0
4     화사    마마무      RBW  여자  1995-07-23  162.1
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3
7     소연    아이들       큐브  여자  1998-08-26    NaN
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1
10    태연   소녀시대       SM  여자  1989-03-09    NaN
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0

In [48]:
#4. loc 인덱싱
df = pd.read_csv('http://bit.ly/ds-korean-idol')
df.loc[:,'이름':'혈액형']

      이름     그룹      소속사  성별        생년월일      키 혈액형
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB
4     화사    마마무      RBW  여자  1995-07-23  162.1   A
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O
7     소연    아이들       큐브  여자  1998-08-26    NaN   B
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O